<ion-view>

  <ion-nav-title>Youtube Jam</ion-nav-title>

  <ion-nav-buttons side="secondary">
    <a href="#/add-video" class="button add-btn"><i class="icon ion-plus"></i></a>
  </ion-nav-buttons>

  <ion-content>

    <ul class="list">

      <a class="item item-thumbnail-left">
        <img src="thumb.jpg" alt="" />
        <h2>M83 - "Wait" (Official Video)</h2>
        <h3>M83 Band</h3>
        <h3>1 ano atrás</h3>
      </a>

      <a class="item item-thumbnail-left">
        <img src="thumb.jpg" alt="" />
        <h2>M83 - "Wait" (Official Video)</h2>
        <h3>M83 Band</h3>
        <h3>1 ano atrás</h3>
      </a>

      <a class="item item-thumbnail-left">
        <img src="thumb.jpg" alt="" />
        <h2>M83 - "Wait" (Official Video)</h2>
        <h3>M83 Band</h3>
        <h3>1 ano atrás</h3>
      </a>

      <a class="item item-thumbnail-left">
        <img src="thumb.jpg" alt="" />
        <h2>M83 - "Wait" (Official Video)</h2>
        <h3>M83 Band</h3>
        <h3>1 ano atrás</h3>
      </a>

      <a class="item item-thumbnail-left">
        <img src="thumb.jpg" alt="" />
        <h2>M83 - "Wait" (Official Video)</h2>
        <h3>M83 Band</h3>
        <h3>1 ano atrás</h3>
      </a>

      <a class="item item-thumbnail-left">
        <img src="thumb.jpg" alt="" />
        <h2>M83 - "Wait" (Official Video)</h2>
        <h3>M83 Band</h3>
        <h3>1 ano atrás</h3>
      </a>

      <a class="item item-thumbnail-left">
        <img src="thumb.jpg" alt="" />
        <h2>M83 - "Wait" (Official Video)</h2>
        <h3>M83 Band</h3>
        <h3>1 ano atrás</h3>
      </a>

      <a class="item item-thumbnail-left">
        <img src="thumb.jpg" alt="" />
        <h2>M83 - "Wait" (Official Video)</h2>
        <h3>M83 Band</h3>
        <h3>1 ano atrás</h3>
      </a>

      <a class="item item-thumbnail-left">
        <img src="thumb.jpg" alt="" />
        <h2>M83 - "Wait" (Official Video)</h2>
        <h3>M83 Band</h3>
        <h3>1 ano atrás</h3>
      </a>

      <a class="item item-thumbnail-left">
        <img src="thumb.jpg" alt="" />
        <h2>M83 - "Wait" (Official Video)</h2>
        <h3>M83 Band</h3>
        <h3>1 ano atrás</h3>
      </a>

    </ul>

  </ion-conent>

</ion-view>
