<ion-view>

  <ion-nav-title>Youtube Jam</ion-nav-title>

  <ion-nav-buttons side="secondary">
    <a href="#/add-video" class="button add-btn"><i class="icon ion-plus"></i></a>
  </ion-nav-buttons>

  <ion-content>

    <ul class="list">

  		<a class="item item-thumbnail-left" ng-repeat="video in playlist" >
  			<img ng-src="{{video.info.thumbnail}}" alt="" />
  			<h2>{{video.info.title}}</h2>
  			<h3>{{video.info.channel}}</h3>
  			<h3>{{video.info.postedAt}}</h3>
  		</a>

    </ul>

  </ion-conent>

</ion-view>
