.title {
	left: 6px !important;
	font-family: 'Roboto-Regular';
	font-size: 1.3rem !important;
	height: 100% !important;
	display: flex !important;
 	flex-direction: column !important;
 	justify-content: center !important;
  margin-top: -2px !important;
}

.app-header {
	height: 58px;
	background-color: #E62118 !important;
}

.has-header {
	top: 58px;
}

.add-btn {
	background: none !important;
	top: 5px !important;
	bottom: 5px !important;
}

.item-thumbnail-left>img:first-child {
	position: absolute;
	top: 10px;
	left: 10px;
	max-width: 138px;
	width: 100%;
	height: auto;
}

.item h2 {
    margin: 0 0 2px 53px;
		white-space: normal;
}

.item h3 {
	margin: 0 0 2px 53px;
	white-space: normal;
	color: #ccc;
}

.playing {

}

#search-bar label {
	height: 100%;
	font-size: 1.5rem !important;
	background: none !important;
}

#search-bar input {
	height: 100%;
  width: 100%;
  font-size: 1.1rem !important;
}

.grey-bar {
	background-color: #F5F5F5 !important;
	border: none !important;
}

ion-footer-bar {
	height: 78px !important;
	box-shadow: 1px -5px 9px rgba(0,0,0,0.3);
}

ion-footer-bar div {
	margin: 0px auto;
}

ion-footer-bar i {
	font-size: 4rem;
	color: #E62118;
	display: block;
	float: left;
	margin-right: 12px;
}

ion-footer-bar h1 {
	display: block;
	float: left;
	font-size: 1.1rem;
	font-weight: 300;
	margin: 11px 0px 5px 0px;
}

ion-footer-bar h3 {
	font-size: 0.8rem;
	font-weight: 300;
}
